#student-input {
    width: 410px;
}

#student-cards {
    width:auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#expelled-cards {
    width:auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.card-body {
    width: 250px;
}

footer {
    color: rgb(219, 219, 219);
    text-align: center;
}