body {
    background-color: cornflowerblue;
}

#student-form {
    margin-left: 100px;
    margin-right: 100px
}

#student-cards {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.card-body {
    width: 250px;
}